header {
    width: 35%;
    height: 3rem;
    border: 2px solid rgba(255, 255, 255, 0.2); /* Borda sutil */
    background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidade */
    backdrop-filter: blur(25px); /* Desfoque no fundo */
    padding: 10px 0;
    text-align: center;
    margin: 2rem auto;
    border-radius: 2rem; /* Bordas arredondadas para um efeito mais moderno */
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu li {
    display: inline-block;
}   

.menu li a {
    color: var(--color-texto2);
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    transition: 0.3s ease-in-out; /* Efeito de transição suave */
}

.menu li a:hover {
    color: var(--color-secundaria); /* Destaque ao passar o mouse */
    font-size: 1.4rem; /* Aumenta o tamanho da fonte */
}

main {
    margin: 0 3rem;
    /* background-color: blue; */
}

/* .banner, .sobre, .projetos, .contato {
    margin-top: 3rem;
} */

.banner {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;

}

.banner .content {
    /* background-color: red; */
    width: 60%;
}

.banner img {
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
}

.projetos{
    /* background-color: orange; */
}

.contato {
    /* background-color: green; */
}

.sobre {
    display: flex;
    /* background-color: brown; */
    margin: 0 5rem;
    border: 1px solid var(--color-secundaria);
    border-radius: 1.5rem;
}

.sobre p {
    color: var(--color-texto2);
    font-size: 1.2rem;
    text-align: justify;
    width: 80%;
}

p {
    color: var(--color-texto2);
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem auto;
}

h1, h2, h3 {
    color: var(--color-terciaria);
    text-align: center;
    margin: 1rem auto;
}

h1 {
    font-size: 5rem;
}

.foto-perfil img {
    width: 19rem;
    /* border-radius: 50%; */
    margin: 0.5rem;
}