header {
    width: 35%;
    height: 3rem;
    border: 2px solid rgba(255, 255, 255, 0.2); /* Borda sutil */
    background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    backdrop-filter: blur(10px); /* Desfoque no fundo */
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidade */
    padding: 10px 0;
    text-align: center;
    margin: 10px auto;
    border-radius: 2rem; /* Bordas arredondadas para um efeito mais moderno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu li {
    display: inline-block;
}   

.menu li a {
    color: var(--color-text2);
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    transition: 0.3s ease-in-out; /* Efeito de transição suave */
}

.menu li a:hover {
    color: var(--color-secondary); /* Destaque ao passar o mouse */
    font-size: 1.4rem; /* Aumenta o tamanho da fonte */
}